/* ===================== MAIN ===================== */
@font-face {
    font-family: dina;
    src: url(../style/font.ttf);
}

body {
    user-select: none;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: dina;
    background: black;
    margin: 0vh;
}

a {
    text-decoration: none;
    text-transform: none;
    color: white;
}

a:hover {
    color: #d342ff;
    text-shadow:
        0 0 7px rgb(40, 40, 40),
        0 0 10px rgb(40, 40, 40),
        0 0 21px rgb(40, 40, 40);
    transition: 100ms ease-in;
}

canvas {
    mix-blend-mode:normal!important;
    width: 100%!important;
    height: 100%!important;
    z-index: 1!important;
}

.container {
    margin-left: 2vh;
    position: absolute;
    color: white;
}

#background {
    position: absolute!important;
    background: black!important;
    width: 750;
    height: 500;
    z-index: -1!important;
}

/* ===================== LINK ===================== */
.links {
    font-size: 2vh;
}

#logo {
    margin-bottom: 3vh;
}

#logo:hover {
    color: white!important;
}

.projects, .socials {
    margin-left: 2.3vh;
    margin-top: -0.5vh;
    list-style: "- ";
}

.projects > li, .socials > li {
    margin-top: 1vh;
}

/* ===================== FOOTER ===================== */
footer {
    font-size: 2vh;
    margin-left: 2vh;
    color: white;
    position: absolute;
    bottom: 0vh;
}